<div ng-controller="meetupsController"> 
       <!-- <h1>There are {{meetups.length}} meetups</h1>
        <ul>
          <li ng-repeat="meetup in meetups">
            {{meetup.name}}
          </li>
        </ul>
        <form ng-submit="createMeetup()">
          <input type="text" placeholder="Meetup name" ng-model="meetupName"></input>
          <button type="submit">Add</button>
        </form> -->
		
			<form class="form" name="loginForm" id="regForm" ng-submit="createMeetup()">
		<input type="text" name="fName" class="input_style" placeholder="Enter your name" ng-model="fName"/>
		<input type="text" name="team" class="input_style" placeholder="Enter your Team" ng-model="team"/>
		<input type="text" name="number" class="input_style" placeholder="Enter your contact no" ng-model="number"/>
		<input type="email" name="emailId" class="input_style" placeholder="Enter your email ID" ng-model="emailId"/>
		<!--<input type="text" name="password" class="input_style" placeholder="Enter your password" ng-model="password"/>
		<input type="text" name="cPassword" class="input_style" placeholder="Confirm your password" ng-model="cPassword"/>-->
		<div class="Register">
         <!--<a href="#/success">--><button type="submit" class="button_1">Register</button> <!--</a>-->
			
		
      </div></div>
		
		
		</form>	
     